.mainBannerSec {
	position: relative;
}
.bgRoundShape {
}
.banner {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1160px;
	position: relative;
}

.wrap {
	display: inline-flex;
	align-items: center;
	gap: 100px;
	justify-content: space-between;
}
.__left {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 585px;
}
.__right {
	min-width: 450px;
}

.pill {
	leading-trim: both;
	text-edge: cap;
	font-family: Hind;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	border-radius: 28px;
	color: #127063;
	background: rgba(27, 166, 147, 0.19);
	display: flex;
	padding: 12px 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: max-content;
	transition: 0.3s ease-in-out;
}

.pill:hover {
	background: rgba(27, 166, 147, 0.419);
	border-radius: 20px;
}

.name {
	color: var(--color-palatte-heading-color, #162e2a);
	font-family: Hind;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	margin-top: 30px;
	line-height: 50px;
}
.mainName {
	position: relative;
	z-index: 1;
	color: #fff;
	transition: 0.3s;
}

.mainName:hover {
	text-shadow: 0 0 10px #ffffff79, 0 0 20px #ffffff5e, 0 0 40px #ffffff53;
}
.nameBefore {
	border-radius: 5px;
	position: absolute;
	width: 103%;
	height: 75%;
	left: -5px;
	top: 5px;
	z-index: -1;
	background-color: #00a1a9;
}

.subText {
	color: var(--color-palatte-paragraph-color, #62676b);
	leading-trim: both;
	text-edge: cap;

	/* DM Sans/P-18px - Regular */
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
}

.btnBox {
	display: flex;
	align-items: center;
	gap: 40px;
}

@media only screen and (max-width: 1200px) {
	.wrap {
		gap: 50px;
	}
	.left {
		gap: 15px;
		flex: 1;
	}
	.subText {
		font-size: 16px;
		line-height: normal;
	}
	.textAnimation {
		font-size: 26px;
		line-height: normal;
	}
	.name {
		font-size: 40px;
		line-height: normal;
	}
	.__right {
		flex: 1;
		min-width: 300px;
	}
}
@media only screen and (max-width: 750px) {
	.wrap {
		gap: 50px;
		flex-direction: column;
		width: 100%;
		justify-content: center;
	}
	.__left {
		max-width: 100%;
		gap: 10px;
	}
	.__right {
		min-width: 100%;
		position: relative;
	}
	.__right img {
		margin: 0 auto;
		max-width: 350px;
	}
}

.bgSvg1 {
	position: absolute;
	top: 0;
	left: 0;
}
