.banner {
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 1160px;
}

.wrap {
	display: inline-flex;
	align-items: center;
	gap: 100px;
	justify-content: space-between;
}
.__left {
	display: flex;
	flex-direction: column;
	gap: 25px;
	max-width: 585px;
}
.__right {
	min-width: 450px;
}

.pill {
	color: #127063;
	leading-trim: both;
	text-edge: cap;
	font-family: Hind;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px;
	border-radius: 28px;
	background: rgba(27, 166, 147, 0.19);
	display: flex;
	padding: 12px 18px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	width: max-content;
}

.name {
	color: var(--color-palatte-heading-color, #162e2a);
	leading-trim: both;
	text-edge: cap;

	/* Hind/H1-60px - Bold */
	font-family: Hind;
	font-size: 60px;
	font-style: normal;
	font-weight: 700;
	line-height: 80px; /* 133.333% */
}
.textAnimation {
	leading-trim: both;
	text-edge: cap;

	/* Hind/P-36px - Bold */
	font-family: Hind;
	font-size: 36px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	background: linear-gradient(90deg, #1ea18f 0%, #162e2a 100%);
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
}
.subText {
	color: var(--color-palatte-paragraph-color, #62676b);
	leading-trim: both;
	text-edge: cap;

	/* DM Sans/P-18px - Regular */
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
}
.btnBox {
	display: flex;
	align-items: center;
	gap: 40px;
}

.letsChatBtn {
	display: flex;
	align-items: center;
	color: var(--color-palatte-heading-color, #162e2a);
	font-family: DM Sans;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	gap: 12px;
}
@media only screen and (max-width: 1200px) {
	.wrap {
		gap: 50px;
	}
	.left {
		gap: 15px;
		flex: 1;
	}
	.subText {
		font-size: 16px;
		line-height: normal;
	}
	.textAnimation {
		font-size: 26px;
		line-height: normal;
	}
	.name {
		font-size: 40px;
		line-height: normal;
	}
	.__right {
		flex: 1;
		min-width: 300px;
	}
}
@media only screen and (max-width: 750px) {
	.wrap {
		gap: 50px;
		flex-direction: column;
		width: 100%;
		justify-content: center;
	}
	.__left {
		max-width: 100%;
		gap: 10px;
	}
	.__right {
		min-width: 100%;
	}
	.__right img {
		margin: 0 auto;
		max-width: 350px;
	}
}
