.accordionItem {
	color: var(--color-palatte-heading-color, #162e2a);
	font-family: hind;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
	text-decoration: none;
	border-radius: 8px;
	border: 1px solid rgba(26, 54, 50, 0.18);
	padding: 11px 32px;
	margin-bottom: 30px;
}

.accordionItem button svg {
	display: none;
}
.accordionItem button:hover {
	text-decoration: none;
}

.accordionItem[data-state='open'] {
	background: #162e2a;
	color: #fff;
}
.icoMinus,
.icoPlus {
	display: none;
}

.accordionItem[data-state='open'] .icoMinus {
	display: inline;
}
.accordionItem[data-state='open'] .Question {
	color: #fff;
}
.accordionItem[data-state='closed'] .icoPlus {
	display: inline;
}

.Answer {
	color: rgba(255, 255, 255, 0.72);
	font-family: hind;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 30px;
}

.Question {
	color: #162e2a;
	font-family: hind;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}
