@import url('https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,300;9..40,400;9..40,500;9..40,600;9..40,700&family=Hind:wght@300;400;500;600;700&family=Open+Sans:wght@300;400;500;600;700&family=Poppins:wght@200;300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
	--main: #127063;
	--paragraph: #62676b;
	--heading: #162e2a;
}

@layer components {
	.box {
		@apply flex flex-col rounded-lg border p-4 md:p-6;
	}
	.heading {
		@apply mb-2 text-lg font-semibold md:text-xl hover:text-blue-700;
	}
	.paragraph {
		@apply mb-4 text-gray-500;
	}
	.button {
		@apply mt-auto font-bold text-indigo-500 transition duration-100 hover:text-indigo-600 active:text-indigo-700;
	}
}

.layout {
	max-width: 1160px;
	margin: 0 auto;
	padding-left: 10px;
	padding-right: 10px;
}
/* styles.css (or styles.scss) */
.custom-collapsible .collapsible__item {
	border-bottom: none;
}

.custom-trigger {
	display: flex;
	align-items: center;
	justify-content: space-between;
	cursor: pointer;
}

.custom-icon {
	margin-left: 0.5rem;
}

/* swiper-custom.module.css */

/* Style the swiper navigation arrows */
.testimonial-slider-custom-class-lksdfkj .swiper-button-next,
.testimonial-slider-custom-class-lksdfkj .swiper-button-prev {
	/* Your custom styles for the arrows */
	width: 58px;
	height: 58px;
	border: 1px solid rgba(16, 25, 31, 0.24);
	border-radius: 50%;
	transition: 0.3s;
}
.testimonial-slider-custom-class-lksdfkj .swiper-button-next::after,
.testimonial-slider-custom-class-lksdfkj .swiper-button-prev::after {
	/* Your custom styles for the arrows */
	font-size: 24px;
	color: #127063b6;
}

/* Optional: Add hover styles for the arrows */
.testimonial-slider-custom-class-lksdfkj .swiper-button-next:hover,
.testimonial-slider-custom-class-lksdfkj .swiper-button-prev:hover {
	border: 1px solid #127063;
}
.testimonial-slider-custom-class-lksdfkj .swiper-pagination-bullet {
	border-radius: 999px;
	background: #1687775c;
	width: 24px;
	height: 5px;
	opacity: 1;
}
.testimonial-slider-custom-class-lksdfkj
	.swiper-pagination-bullet.swiper-pagination-bullet-active {
	border-radius: 999px;
	background: #168777;
	width: 44px;
	height: 5px;
}

@media only screen and (max-width: 600px) {
}
