.wrap {
	display: flex;
	flex-direction: column;
	gap: 12px;
	flex: 1;
	position: relative;
}

.label {
	color: #000;
	font-family: DM Sans;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 20px; /* 166.667% */
}
.input {
	border-bottom: 1px solid #8d8d8d;
	padding-bottom: 12px;
	position: relative;
}

.input:focus-visible {
	outline: none;
	border-bottom: 1px solid #127063;
}

.border {
	position: absolute;
	width: 2px;
	height: 24px;
	background-color: #8d8d8d;
	bottom: 12px;
}
.wrap:focus-visible label {
	color: #127063;
}
.wrap:focus-visible .border {
	background-color: #127063;
}
@media only screen and (max-width: 500px) {
	.wrap {
		gap: 8px;
	}
}
