.headerBox {
	display: flex;
	align-items: center;
	gap: 26px;
	margin-bottom: 36px;
}

.line {
	width: 100px;
	height: 2px;
	background: #162e2a;
	display: flex;
}

.section {
	color: #162e2a;
	font-family: Hind;
	font-size: 20px;
	font-style: normal;
	font-weight: 500;
	line-height: 28px; /* 140% */
	text-transform: uppercase;
}

.tittle {
	leading-trim: both;
	text-edge: cap;
	font-family: Hind;
	font-size: 40px;
	font-style: normal;
	font-weight: 600;
	line-height: 51px;
	text-transform: capitalize;
	color: #162e2a;
}
.tittle .t2 {
	color: #127063;
}

@media only screen and (max-width: 950px) {
	.tittle {
		font-size: 32px;
		line-height: 40px;
	}
	.section {
		font-size: 16px;
		line-height: 20px;
	}
	.headerBox {
		gap: 22px;
		margin-bottom: 22px;
	}
}
@media only screen and (max-width: 650px) {
	.tittle {
		font-size: 28px;
		line-height: 30px;
	}
	.section {
		font-size: 14px;
		line-height: 18px;
	}
	.headerBox {
		gap: 22px;
		margin-bottom: 16px;
	}
}
