.quotations1 {
	border-radius: 8px;
	border-left: 3.5px solid #168777;
	background: #252833;
	display: flex;
	padding: 36px;
	align-items: flex-start;
	gap: 10px;
	align-self: stretch;
	color: #fff;
	leading-trim: both;
	text-edge: cap;

	/* DM Sans/P-18px - Regular */
	font-family: DM Sans;
	font-size: 18px;
	font-style: normal;
	font-weight: 400;
	line-height: 28px; /* 155.556% */
}
